.scrollable-modal .modal-body {
    overflow-y: auto;
    /*max-height: 50%;*/
}

.scrollabe-modal {
    overflow-y: initial !important;
}

.scrollable-modal.modal-dialog,
.scrollable-modal .modal-content {
    /* 80% of window height */
    height: 80%;
}

#clear-image-icon {
    display: flex;
    position: relative;
    top: 30px;
}
.clickable-row {
    cursor: pointer;
}

#notifications-modal, #messages-modal {
  position: absolute;
  z-index: 9;
}

#notifications-modal-header, #messages-modal-header {
  cursor: move;
  z-index: 10;
}

a:hover {
    text-decoration: none;
}

a.disabled:hover {
    cursor: not-allowed;
}