/*!
 * Start Bootstrap - Blog Post (https://startbootstrap.com/template-overviews/blog-post)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-post/blob/master/LICENSE)
 */
body {
  padding-top: 56px;
}

.post-tag {
    background-color: #3490dc;
    padding: 0.180rem 0.55rem;
    color: white;
    font-size: small;
}