/*!
 * Start Bootstrap - Blog Home (https://startbootstrap.com/template-overviews/blog-home)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-home/blob/master/LICENSE)
 */
body {
  padding-top: 56px;
}

.post_wrapper img {
    max-width: 730px;
}

a.post-anchor {
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
}