/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 22, 2020, 4:05:14 PM
    Author     : rpsilva
*/
.bootstrap-tagsinput > span {
    background-color: #4e73df;
    padding: 0.375rem 0.75rem;
}

.bootstrap-tagsinput {
    background-color: transparent !important;
    border: 0px !important;
    box-shadow: none !important;
    line-height: 35px !important;
}

.bootstrap-tagsinput > input {
    background-color: white !important;
    padding: 0.375rem 0.75rem !important;
    border: 1px solid #d1d3e2 !important;
    border-radius: 0.35rem !important;
}

#warning-tags-limit {
    color: black;
}